@font-face {
	font-family: "Cony";
	src: url("../fonts/Cony-Regular.woff2") format("woff2"), url("../fonts/Cony-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Cony";
	src: url("../fonts/Cony-Italic.woff2") format("woff2"), url("../fonts/Cony-Italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Cony";
	src: url("../fonts/Cony-Bold.woff2") format("woff2"), url("../fonts/Cony-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
